// Variables - Basic settings.
// @author 2023 ImAliTavakoli




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Color

// Var Sets
$oa-color-white:                                      #fff !default;
$oa-color-black:                                      #333 !default;
$oa-color-indigo:                                     #5c6bc0 !default;

$oa-color-neutral:                                    #888 !default;
$oa-color-neutral-bg:                                 rgba(136, 136, 136, 0.2) !default;
$oa-color-neutral-hr:                                 rgba(136, 136, 136, 0.4) !default;


// Root Bases
$oa-selection-bg-color-base:                          rgba(136, 136, 136, 0.2);

$oa-headings-color-base:                              $oa-color-black;
$oa-text-color-base:                                  $oa-color-black;
$oa-text-link-color-base:                             $oa-color-indigo;

$oa-bg-color-base:                                    $oa-color-white;


// Usefuls
$oa-selection-bg-color:                               var(--oa-selection-bg-color) !default;

$oa-headings-color:                                   var(--oa-headings-color) !default;
$oa-text-color:                                       var(--oa-text-color) !default;
$oa-text-link-color:                                  var(--oa-text-link-color) !default;

$oa-bg-color:                                         var(--oa-bg-color) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Typography

// Var Sets
$oa-font-family-sans-serif:                           'Roboto', Arial, sans-serif !default;
$oa-font-family-serif:                                Georgia, 'Times New Roman', Times, serif !default;
$oa-font-family-monospace:                            Menlo, Monaco, Consolas, "Courier New", monospace !default; // Fonts for `<code>`, `<kbd>`, and `<pre>`.

$oa-headings-font-weight:                             500 !default;
$oa-headings-line-height:                             1.2 !default;


// Root Bases
$oa-headings-font-family-base:                        'Roboto Condensed', Arial, sans-serif !default;

$oa-font-family-base:                                 $oa-font-family-sans-serif !default;
$oa-font-size-base:                                   16px !default; // We don't set `font-size` to `1rem` and assume the browser's default `font-size` is `16px`! We force it to be `16px` for our framework's styles.

$oa-line-height-base:                                 1.5 !default;



// Usefuls
$oa-headings-font-family:                             var(--oa-headings-font-family) !default;

$oa-font-family:                                      var(--oa-font-family) !default;
$oa-font-size:                                        var(--oa-font-size) !default;

$oa-line-height:                                      var(--oa-line-height) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Spacing

// Root Bases
$oa-spacer-base:                                       1rem !default;


// Usefuls
$oa-spacer:                                            var(--oa-spacer) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Misc

// Var Sets
$oa-transition-duration:                               .3s !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Media queries breakpoints

// Var Sets
$oa-screen-sm-min:                                    576px !default;
$oa-screen-md-min:                                    768px !default;
$oa-screen-lg-min:                                    992px !default;
$oa-screen-xl-min:                                    1200px !default;

$oa-screen-sm-max:                                    ($oa-screen-md-min - 1) !default;
$oa-screen-md-max:                                    ($oa-screen-lg-min - 1) !default;
$oa-screen-lg-max:                                    ($oa-screen-xl-min - 1) !default;
