
<!-- App Shell
================================================================================
================================================================================
================================================================================ -->

  <style>
    .as-loader {
      --as-loader-color: #333;
      --as-bg-color: #eee;
    }

    .as-loader {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--as-bg-color);
      z-index: 3000;
      transition: visibility .4s, opacity .4s;
    }

    .as-loader--loaded {
      visibility: hidden;
      opacity: 0;
    }

    .as-loader__preloader {
      min-width: 100px;
      min-height: 100px;
      color: var(--as-loader-color);
      user-select: none;
      pointer-events: none;
    }

    .as-loader__preloader svg {
      animation: spin-preloader 1.5s linear infinite;
    }

    .as-loader__preloader svg path,
    .as-loader__preloader svg rect,
    .as-loader__preloader svg circle {
      fill: var(--as-loader-color);
    }

    @keyframes spin-preloader {
      100% {
        transform: rotate(360deg);
      }
    }
  </style>

  <div class="as-loader" id="loader">
    <div class="as-loader__preloader">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" style="stroke: none;">
        <path d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"></path>
      </svg>
    </div>
  </div>

  <script>
    // Remove the preloader when the page is loaded completely
    window.addEventListener('load', function () {
      // Why timeout? To let the other elements animation be done first.
      setTimeout(function () {
        document.getElementById('loader').classList.add('as-loader--loaded');
      }, 100);
    });
  </script>
  